# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build or temp folders
build/
dist/
*.log

# Other
template.py


# self.manager.player_data.add_character(CHARACTER[1])
# self.manager.save_systems[self.manager.current_player_id].save_game(self.manager.player_data)