# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build or temp folders
build/
dist/
*.log

# Other
template.py
